#create-new {
  float: right;
  width: 400px;
}

#locations {
  width: 525px;
  
  li {
    float: left;
    width: 210px;
    
    &:nth-child(2n) {
      margin-right: 4px;
    }
  }
  
  &+ p {
    clear: left;
  }
}

#edit-card-list {

  table {
    clear: both;
    width: 300px;
  }
  
  th, td {
    &.name {
      //width: 100px;
    }
    &.no {
      //width: 40px;
      
      input {
        width: 30px;
      }
    }
    &.button {
      width: 100px;
    }
  }
}
