#create-new {
  float: right;
  width: 400px;
}

#locations {
  width: 525px;
  
  li {
    float: left;
    width: 210px;
    
    &:nth-child(2n) {
      margin-right: 4px;
    }
  }
  
  &+ p {
    clear: left;
  }
}

#edit-card-list {

  table {
    clear: both;
  }
  
  th, td {
    width: 400px;
    &:first-child {
      width: 40px;
    }
  }
}
