#locations {
  li {
    float: left;
    width: 45%;
    
    &:nth-child(2n) {
      margin-right: 5%;
    }
  }
  
  &+ p {
    clear: left;
  }
}

#edit-card-list {
  td, td {
    width: 400px;
    &:first-child {
      width: 100px;
    }
  }
}
