{% extends 'jace.html' %}
{% load staticfiles %}
{% block content %}
<h1>Edit {{ location }}</h1>

<form id="create-new">
  <p>... or create a new one...</p>
  <input name="new-location" id="new-location" type="text">
  <button type="submit">Create</button>
</form>


<form id="edit-card-list" action="/update-location">
  <p>Select a location...</p>
  <ul id="locations">
  {% for loc in locations %}
    <li>
      <input type="radio" name="chosen_location" value="{{ loc.id }}" id="cb{{ loc.id }}"{% if loc.name == selected_location.name %} checked="checked"{% endif %}><label for="cb{{ loc.id }}">{{ loc.name }}</label>
    </li>
  {% endfor %}
  </ul>
  
  <table>
    <tr>
      <th>#</th>
      <th>card</th>
      <th></th>
    </tr>
    <tr>
      <td class="no"><input type="text" name="count-0" value="1"></td>
      <td class="name"><input type="text" name="name-0" class="autocomplete"></td>
      <td class="button"><button class="addRow">Add</button></td>
      <!--<td class="button"><button class="deleteRow">Delete</button></td>-->
    </tr>
  </table>
  <button type="submit" method="post" action="">Done</button>
</form>
{% endblock %}

{% block extrascript %}
  <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/CardTable.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
