{% extends 'jace.html' %}
{% load staticfiles %}
{% block content %}
<h1>Edit {{ location }}</h1>

<p>Select a location...</p>
<form id="locations">
  {% for loc in locations %}
  <input type="radio" name="chosen_location" id="cb{{ loc.id }}"{% if loc.name == selected_location.name %} checked="checked"{% endif %}><label for="cb{{ loc.id }}">{{ loc.name }}</label>
  {% endfor %}
</form>
<form action="" id="create-new">
<p>... or create a new one...</p>
<input name="new-location" id="new-location" type="text">
<button type="submit">Create</button>
</form>
{% endblock %}

{% block extrascript %}
  <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}
